body{
    background-color: rgb(10, 12, 119);
}
.icon{
    width: 200px;
}
.background{
    fill: skyblue;
    fill-opacity: 0.7;
}
.letter{
    fill: white;
}
.icon:hover .background{
    fill: violet;
}